
body{
  margin: 0;
  padding: 0;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}



  #board {
    position: absolute;
    top: 300px;
    left: 30%;
    transform: scale(1.5);

  }
  .square {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(235, 188, 34);
    border:1px solid rgb(2, 2, 2);
    
  }
  .player {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid;
  }

.button1{

    color: rgb(255, 179, 0);
    position: relative;
    text-align: center;
    left: 47%;
    top: 200px;
    background-color: rgb(5, 5, 5);
    transform: scale(3);
    border:2px solid rgb(255, 187, 0);
   

    
    }

    .title {
      font-size: 120px;
      position: relative;
      text-align: left;
      color: rgb(255, 196, 0);
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: rgba(219, 179, 0, 0.712);
      bottom: 130px;
      left: 30px;

    }

  #roll {

    font-size: 60px;
    position: relative;
    text-align: center;
    color: rgb(190, 154, 35);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(224, 130, 22);
    bottom: 360px;
  
    
    
    

  }

  .popup {

    background: rgb(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    

  }

  .pergunta {

    text-align: center;
    font-size: 30px;
    position: relative;
    bottom:30px;

  }

  .popup-content {

    height: 250px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    bottom: 50px;
  }

  input{

    position: relative;
    top: -35px;
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
    bottom: 80px;

}

.rollPanel {

  text-align: center;
  font-size: 30px;
  position: relative;
  bottom: 20px;

}

#answerButton {

  background: rgb(0, 0, 0);
  padding: 10px 15px;
  color: rgb(240, 176, 0);
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(23, 24, 23, 0.527);
  margin-top: 25px;
  text-decoration: none;
  transition: 0.4s;
  left: 180px;
  position: relative;
  bottom: 150px;
  border: solid black 2px;
}

#answerButton:hover {

background: rgb(240, 201, 28);
color: rgb(0, 0, 0);

}


    