body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
  }
  .box{
    width: 450px;
    background: rgba(0, 0, 0, 0.787);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: rgb(255, 187, 0);
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 70%;
    width: 200px;
    height: 200px;
    border:5px solid rgb(255, 217, 0);
  }
  .box h1{
    font-size: 60px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: rgb(255, 208, 0);
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #ffa600;
  }

  .button3 {

    background: rgb(0, 0, 0);
    padding: 10px 15px;
    color: rgb(195, 170, 28);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(23, 24, 23, 0.527);
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
    left: 173px;
    position: relative;
    border: solid rgb(255, 255, 255) 2px;
    top: 10px;
  }
  
  .button3:hover {
  
  background: rgb(177, 141, 24);
  color: white;
  
  }

  .button4 {

    background: rgb(0, 0, 0);
    padding: 10px 15px;
    color: rgb(195, 170, 28);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(23, 24, 23, 0.527);
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
    left: 147px;
    position: relative;
    border: solid rgb(255, 255, 255) 2px;
    top: 80px;
  }
  
  .button4:hover {
  
  background: rgb(177, 141, 24);
  color: white;
  
  }

  
  